<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="apple-touch-icon" sizes="180x180" href="https://github.com/roma17111/minimalrecords.github.io/blob/main/favicon/apple-touch-icon.png?raw=true">
  <link rel="icon" type="image/png" sizes="32x32" href="https://github.com/roma17111/minimalrecords.github.io/blob/main/favicon/favicon-32x32.png?raw=true">
  <link rel="icon" type="image/png" sizes="16x16" href="https://github.com/roma17111/minimalrecords.github.io/blob/main/favicon/favicon-16x16.png?raw=true">
  <link rel="manifest" href="https://downloader.disk.yandex.ru/disk/82e1b1f2a656d4c25e9737e54b2f386fd16ee31f1d8be69c923f8953a49886f7/648a0c5c/Q2L3AR5ETywB7wk0QiJij8HkYd38W_hfrHA5tNwU9EGILSTvVePm-K02fZcZc9AphWShhtsNXcbAu_1PeJAkbA%3D%3D?uid=59718629&filename=site.webmanifest&disposition=attachment&hash=&limit=0&content_type=application%2Foctet-stream&owner_uid=59718629&fsize=263&hid=9a7fcdfd887105b27a5f81d5c135a55c&media_type=data&tknv=v2&etag=053100cb84a50d2ae7f5492f7dd7f25e">
  <title th:text="Photo"></title>
  <link rel="stylesheet" href="../static/style.css"  th:href="@{/style.css}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

</head>


<body>

  <header>
    <div class="navigator">
      <nav class="navbar navbar-expand-lg bg-body-tertiary navbar bg-dark" data-bs-theme="dark">
        <div class="container-fluid">

          <button style="background-color: coral" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse " id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <button type="button" class="btn btn-outline-warning m-1"><a class="nav-link" href="/">Главная</a></button>
              </li>
              <li class="nav-item">
                <button type="button    " class="btn btn-outline-warning m-1"><a class="nav-link" href="/aboutus">О нас</a></button>
              </li>
              <li class="nav-item">
                <button type="button" class="btn btn-outline-warning m-1"><a class="nav-link" href="/portfolio">Наше портфолио</a></button>
              </li>
              <li class="nav-item">
                <button type="button" class="btn btn-danger m-1"><a style=" color: black " class="nav-link active" aria-current="page" href="/photo">Фотографии</a></button>
              </li>

              <li class="nav-item">
                <button type="button" class="btn btn-outline-warning m-1"><a class="nav-link" href="/apparatura">Аппаратура</a></button>
              </li>
              <li class="nav-item">
                <button type="button" class="btn btn-outline-warning m-1"><a class="nav-link" href="/build">Как строилась студия</a></button>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Наши возможности
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/aboutus#1">Сведение</a></li>
                  <li><a class="dropdown-item" href="/aboutus#2">Мастеринг</a></li>
                  <li><a class="dropdown-item" href="/aboutus#3">Аранжировка</a></li>
                  <li><a class="dropdown-item" href="/aboutus#4">Написание фонограммы и минусов</a></li>
                  <li><a class="dropdown-item" href="/aboutus#5">Запись вокала</a></li>
                  <li><a class="dropdown-item" href="/aboutus#6">Обработка вокала</a></li>
                  <li><a class="dropdown-item" href="/aboutus#7">Запись музыкальных инструментов </a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>

<div id="carouselExample" class="carousel slide col-lg-8 container text-center  pb-5">
  <div class="carousel-inner ">

<h1 style="font-size: 90px">Фотоальбом</h1>
    <div class="carousel-item">
      <img src="https://roma17111.github.io/media/IMG_5213.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://roma17111.github.io/media/2023-01-05%2017-21-46%20(2).JPG" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://roma17111.github.io/media/2023-01-05%2017-21-46%20(3).JPG" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://roma17111.github.io/media/2023-01-05%2017-21-46%20(4).JPG" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://roma17111.github.io/media/Minrec.JPEG" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://roma17111.github.io/media/IMG_4136.JPG" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://roma17111.github.io/media/IMG_4141.JPG" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item active">
      <img src="https://roma17111.github.io/media/IMG_4899.JPG" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>



<div style="margin: 3cm" class="left">
  <Img style="width: 230px"  src="https://img-fotki.yandex.ru/get/15594/200418627.64/0_11a32c_bf228501_orig.png"></Img>
  <Img style="width: 230px"  src="https://www.3ezhika.ru/papagera/wp-content/uploads/барабан.png"></Img>
  <img style="width: 230px"  src="https://effects1.ru/gallery/Klipart/Tekhnika-gr/Muzyka/klavishi/klavishi-8-0.png" alt="photo">
  <img style="width: 230px"  src="https://lh3.googleusercontent.com/NrRTNV93nG4DsZ1IflBotgmSfMJUno0vXu5P45ww23sOCyYrp1uSve4kuC5v6tzBixo"
       alt="image">
  <img style="width: 230px"  src="https://phonoteka.org/uploads/posts/2022-01/thumbs/1643580803_88-phonoteka-org-p-muzikalnie-instrumenti-fon-98.png"
       alt="page">
  <img style="width: 230px"  src="https://i.pinimg.com/originals/ec/a2/d3/eca2d31b4eb9c3e921abba098b69368f.png" alt="картинка">
</div>
</div>

<footer>

  <div class="foot">
    <div class="all">
      <p>©2023 Все права защищены</p>
    </div>

    <div class="allinfo">
      <p>©Создатели сайта:</p>
      <p>Якименко Роман Эдуардович</p>
      <p>Якименко Вероника Владимировна</p>
      <p>email: romanze1706@gmail.com</p>

    </div>
  </div>
</footer>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>

</html>