<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="apple-touch-icon" sizes="180x180" href="https://downloader.disk.yandex.ru/preview/d29bf91142c928cb8981ea094b83ff45301be84a56fed26f02280de0076c5965/63b884cd/TD_hnS9nbtsZVapp09Ydc4mxjX42CZNl-ltta8RjhBK7yAv6npMTEkByokcU1H1nYGNMC_0nCcDowBQD2h7EwQ%3D%3D?uid=0&filename=apple-touch-icon.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=2048x2048">
  <link rel="icon" type="image/png" sizes="32x32" href="https://downloader.disk.yandex.ru/preview/389fe381c0eea631920007642c9d9a08a25c7a082f42c5b114bc3f6d3495fb23/63b88455/Y4p7P51RBb7aJ0TC317teYmxjX42CZNl-ltta8RjhBLHOjszF8mEQDbLGT0U66lCGvlfhJgiSyiej-ON_A3ZfA%3D%3D?uid=0&filename=favicon-32x32.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=2048x2048">
  <link rel="icon" type="image/png" sizes="16x16" href="https://downloader.disk.yandex.ru/preview/206c7399f993dcbae761bdd3ed49213ef250cc7d78c4005ae9ebe440e509957a/63b8840b/GBiTW2yb45QqKgh5CJ-xqomxjX42CZNl-ltta8RjhBJpbWfty633XI6IUB880Y3qbleL4LRWVxDCcT0-aZpKwQ%3D%3D?uid=0&filename=favicon-16x16.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=2048x2048">
  <link rel="manifest" href="https://downloader.disk.yandex.ru/disk/252caf991d06f09b0fd7f8ec6b9191a03b3e8112704df8f7cc639559e0cfabfb/63b884ff/Q2L3AR5ETywB7wk0QiJij8HkYd38W_hfrHA5tNwU9EGILSTvVePm-K02fZcZc9AphWShhtsNXcbAu_1PeJAkbA%3D%3D?uid=0&filename=site.webmanifest&disposition=attachment&hash=jfNX2zoqTn3kYqb8FlA9Wkyp9oOU0I9LH1DTY8cDIeCBUsN3MeXSVMJ5CSTZrf7yq/J6bpmRyOJonT3VoXnDag%3D%3D&limit=0&content_type=application%2Foctet-stream&owner_uid=1373144895&fsize=263&hid=9a7fcdfd887105b27a5f81d5c135a55c&media_type=data&tknv=v2">
  <title th:text="Portfolio"></title>
  <link rel="stylesheet" href="../static/style.css"  th:href="@{/style.css}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

</head>


<body>
<header>
  <div class="navigator">
    <nav class="navbar navbar-expand-lg bg-body-tertiary navbar bg-dark" data-bs-theme="dark">
      <div class="container-fluid">

        <button style="background-color: coral" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <button type="button" class="btn btn-outline-warning m-1"><a class="nav-link" href="/">Главная</a></button>
            </li>
            <li class="nav-item">
              <button type="button    " class="btn btn-outline-warning m-1"><a class="nav-link" href="/aboutus">О нас</a></button>
            </li>
            <li class="nav-item">
              <button type="button" class="btn btn-danger mx-1"><a style="color: black " class="nav-link active" aria-current="page" href="/portfolio">Наше портфолио</a></button>
            </li>

            <li class="nav-item">
              <button type="button" class="btn btn-outline-warning m-1"><a class="nav-link" href="/photo">Фотографии</a></button>
            </li>
            <li class="nav-item">
              <button type="button" class="btn btn-outline-warning m-1"><a class="nav-link" href="/apparatura">Аппаратура</a></button>
            </li>
            <li class="nav-item">
              <button type="button" class="btn btn-outline-warning m-1"><a class="nav-link" href="/build">Как строилась студия</a></button>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Наши возможности
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/aboutus#1">Сведение</a></li>
                <li><a class="dropdown-item" href="/aboutus#2">Мастеринг</a></li>
                <li><a class="dropdown-item" href="/aboutus#3">Аранжировка</a></li>
                <li><a class="dropdown-item" href="/aboutus#4">Написание фонограммы и минусов</a></li>
                <li><a class="dropdown-item" href="/aboutus#5">Запись фокала</a></li>
                <li><a class="dropdown-item" href="/aboutus#6">Обработка вокала</a></li>
                <li><a class="dropdown-item" href="/aboutus#7">Запись музыкальных инструментов </a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>

<div class="col-lg-6 container text-center  pb-5">
  <img src="https://roma17111.github.io/media/Minrec.JPEG"
       alt="картинка">
  <h2 style="color: coral">Портфолио</h2>
  <audio controls>
    <source src="https://roma17111.github.io/media/снеговик1111.mp3" type="audio/mpeg">
  </audio>
  <audio controls>
    <source src="https://roma17111.github.io/media/123.mp3" type="audio/wav">
  </audio>
</div>

<div style="margin: 3cm" class="left">
  <Img style="width: 230px"  src="https://img-fotki.yandex.ru/get/15594/200418627.64/0_11a32c_bf228501_orig.png"></Img>
  <Img style="width: 230px"  src="https://www.3ezhika.ru/papagera/wp-content/uploads/барабан.png"></Img>
  <img style="width: 230px"  src="https://effects1.ru/gallery/Klipart/Tekhnika-gr/Muzyka/klavishi/klavishi-8-0.png" alt="photo">
  <img style="width: 230px"  src="https://lh3.googleusercontent.com/NrRTNV93nG4DsZ1IflBotgmSfMJUno0vXu5P45ww23sOCyYrp1uSve4kuC5v6tzBixo"
       alt="image">
  <img style="width: 230px"  src="https://phonoteka.org/uploads/posts/2022-01/thumbs/1643580803_88-phonoteka-org-p-muzikalnie-instrumenti-fon-98.png"
       alt="page">
  <img style="width: 230px"  src="https://i.pinimg.com/originals/ec/a2/d3/eca2d31b4eb9c3e921abba098b69368f.png" alt="картинка">
</div>
</div>

<footer>

  <div class="foot">
    <div class="all">
      <p>©2023 Все права защищены</p>
    </div>

    <div class="allinfo">
      <p>©Создатели сайта:</p>
      <p>Якименко Роман Эдуардович</p>
      <p>Якименко Вероника Владимировна</p>
      <p>email: romanze1706@gmail.com</p>

    </div>
  </div>t
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>

</html>